@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";

:root {
  --background: #141414;
  --text: #FFFFFF; /* White */
  --primary: #DB2777; /* Stronger Pink */
  --secondary: #F9A8D4; /* Light Pink */
  --accent: #1F2937; /* Darker blue-gray */
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
}

.animated-gradient-text {
  background-image: linear-gradient(45deg, var(--primary), var(--secondary), var(--primary));
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
