---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Arantxa's Portfolio" description="Portafolio de Arantxa, una apasionada desarrolladora web con experiencia en la creación de experiencias digitales modernas y atractivas.">
  <main class="text-text">
    <Header />
    <Hero />

    <!-- Placeholder sections to enable scrolling -->
    <section id="about" class="h-screen bg-accent/20"></section>
    <section id="projects" class="h-screen"></section>
    <section id="contact" class="h-screen bg-accent/20"></section>

  </main>
</Layout>
