---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Arantxa's Portfolio" description="Portafolio de Arantxa, una apasionada desarrolladora web con experiencia en la creación de experiencias digitales modernas y atractivas.">
  <main class="text-text">
    <Header />
    
    <!-- Sticky container for the parallax effect -->
    <div class="sticky-hero-container">
      <Hero />
    </div>

    <Projects />

    <!-- You can add more sections here -->
    <section id="contact" class="h-screen bg-background"></section>

  </main>
</Layout>

<style>
  .sticky-hero-container {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10; /* Lower z-index than the projects section */
  }
</style>
