---
interface Props {
        title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
        <head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
        <body class="bg-background">
                <slot />
        </body>
</html>

<style is:global>
	:root {
		--color-primary: 119 79 219;
    --color-secondary: 168 85 247;
		--color-background: 20 20 20;
		--color-text: 235 235 235;
    --color-background-alt: 30 30 30;
	}

	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		color: rgb(var(--color-text));
		margin: 0;
	}

	.bg-primary { background-color: rgb(var(--color-primary)); }
	.bg-secondary { background-color: rgb(var(--color-secondary)); }
	.bg-background { background-color: rgb(var(--color-background)); }
  .bg-background-alt { background-color: rgb(var(--color-background-alt)); }

	.text-primary { color: rgb(var(--color-primary)); }
	.text-secondary { color: rgb(var(--color-secondary)); }
	.text-text { color: rgb(var(--color-text)); }
  .text-background { color: rgb(var(--color-background)); }

  .bg-gradient-to-r {
    background-image: linear-gradient(to right, rgb(var(--color-primary)), rgb(var(--color-secondary)));
  }

  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

  .text-transparent {
    color: transparent;
  }
</style>
